* {
    font-family: 'Open Sans', sans-serif;
    color: #2b2b2b;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*make the text bigger for ease of reading*/

/*also style the headers and questions so they're clear */
h2, legend{
    font-size: 2.5em;
    font-weight: 1000;
    text-decoration: underline;
    text-decoration-color: #59b9df;
    padding-bottom: 20px; /*separate answer a bit from question*/
}

p{
    font-size: 1.5em;
}

input, label{
    font-size: 30px; /* not large on mobile unless px is used? */ 
}

a{
    color: #438ba7;
}

a:hover{
    color: #38748b;
}

p.status{
    font-size: 1em;
    font-weight: bold;
}

/*style the first word of the status headings differently so they stand out*/
.status span{
    color: #438ba7;
    font-weight: 1100;
}

header{
    padding: 10px 10px 0px 10px;
  }

label{
    display: block;
}

/*make submit button clear to user*/
input[type=submit]{
    margin-top: 10px; /*separate buttons a bit from text*/
    width: 50%;
    padding: 5px 0px;
    border: 1px solid #52aace;
    background-color: #52aace;
    color: white;
}

input[type=submit]:hover{
    margin-top: 10px; /*separate buttons a bit from text*/
    width: 50%;
    padding: 5px 0px;
    border: 1px solid #438ba7;
    background-color: #438ba7;
    cursor: pointer;
}

/*style the following elements for mobile first, where there's less whitespace*/
.quiz-status{
    display: flex;
    flex-direction: column;
}

/*center contents and take up less horizontal width*/
main{
    width: 100%;
    margin: auto;
}

.questions-and-answers{
    padding: 50px 0px 5px 0px;
}

/*can take up less horizontal space on larger screen*/
/*also style header differently since there's more space */
@media screen and (min-width: 600px){
    main{
        width: 75%;
    }
    .quiz-status{
        flex-direction: row;
        justify-content: space-between;
    }
    .questions-and-answers{
        padding: 50px 10px 5px 10px;
    }
}

